$primary: #fff;
$secondary: #000;
$blue: rgba(19, 82, 162, 1);
$background: rgba(255, 212, 100, 1);
$font: 'apercu-regular', sans-serif;

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	@media (max-width: 960px){
        width: 90%;
	}
// 	@media (max-width: 480px){
//         width: 95%;
//     }
}

body {
	font-family: $font;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

h2 {
	font-size: 80px;
	margin: 0px 0px 50px 0px;
	line-height: 100px;
	
}

h3 {
	font-size: 40px;
	margin-top: 0;
	color: $secondary;
}

h4 {
	font-size: 15px;
}

p {
	line-height: 30px;
}

.copyright {
    background: white;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
}

@import "partials/setup.scss";
@import "partials/nav.scss";
@import "partials/header.scss";
@import "partials/projects.scss";
@import "partials/about.scss";
@import "partials/slider.scss";
@import "partials/contact.scss";

@font-face {
    font-family: 'apercu-regular';
    src: url('../fonts/apercu-regular.eot');
    src: url('../fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu-regular.woff') format('woff'),
         url('../fonts/apercu-regular.woff2') format('woff2'),
         url('../fonts/apercu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}