.contact-container {
    background-color: $background;
    margin-top: 100px;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 100px 0px 100px 0px;
    a:hover {
        border-bottom: 2px solid black;
    }
    @media (max-width: 960px){
        flex-direction: column;
	}
	@media (max-width: 480px){
        padding: 50px 0px;
    }
}

.social-media {
    width: 20%;
    
    @media (max-width: 960px){
        width: 50%;
    }
    @media (max-width: 480px){
        width: 100%;
    }
    ul {
        flex-direction: column;
        margin: 0;
    }
}

.contact-text {
    width: 40%;
    margin-left: 20px;
    @media (max-width: 960px){
        margin-top: 20px;
        width: 50%;
        margin-left: 0;
	}
	@media (max-width: 480px){
        width: 100%;
    }
    p {
        margin: 10px 0px;
    }
}

.social-media,
.contact-text {
    border-top: 2px solid black;
    padding-top: 20px;
    line-height: 25px;
}

