header {
	background-color: $background;
	height: 100vh;
	position: relative;
	// z-index: -2;
	// margin-bottom: 100px;
	@media (max-width: 560px){
			height: 100%;
		}
}

 
// .color-surface {
// 	width: 350px;
// 	height: 600px;
// 	background-color: $blue;
// 	position: absolute;
// 	top: 10%;
// 	left: 60%;
// 	z-index: -10;
	
// }

.header-intro {
	padding: 100px 0px;
	width: 80%;
	line-height: 55px;
	@media (max-width: 960px){
			padding: 75px 0px;
			width: 100%;
		}
    h3 {
		padding-left: 100px;
		
		@media (max-width: 960px){
			padding-left: 0;
			
		}
	}
}

.seeMore-button {
	display: flex;
	flex-direction: column;
	position: absolute;
	
	top: 85%;
	left: 50%;
	transform: translate(-85%, -50%);
	@media (max-width: 480px){
			display: none;
		}
    button {
        border: none;
		background: none;
		
    }
}